@charset "utf-8";

/* デフォルト設定 */
*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    font-size: 16px;
    font-family: sans-serif;
    color: #000000;
    line-height: 1;
    background-color: #ffffff;
}

img {
    max-width: 100%;
}

/* header */
.header-inner-logo-sub {
    width: 300px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.error-message {
    color: rgb(255, 0, 0);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 70px;
}

.error-button {
    display: inline-block;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 100px;
    align-items: center;
}

.header-inner {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 30px;
    margin-right: 30px;
}

.header-logo {
    display: block;
    width: 70px;
    background: transparent;
    border: none;
}

.header-inner-menu {
    text-align: center;
    margin-left: 30px;
}

.header-inner-menu p{
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
}

.header-inner-menu-button form button p{
    color: blue;
    margin-top: 20px;
}

.header-inner-menu-button {
    display: flex;
    margin-top: 10px;
}

.header-inner-menu-button form{
    margin-left: 45px;
}

.header-inner-menu p:first-child{
    margin-top: -5px;
}

.header-inner-menu p a:nth-child(2) {
    margin-left: 30px;
}

/* main */
.main-inner {
    width: 100%;
    font-size: 20px;
}

.main-inner-title {
    display: none;
}

.main-inner-word,
.main-inner-word-change {
    margin-top: 5px;
    margin-left: 30px;
    line-height: 1.5;
}

.main-inner p:nth-child(2) {
    margin-top: 30px;
}

input {
    display: none;
}

.make-link-button {
    background: transparent;
    border: none;
}

/* for smart devices */
@media (max-width: 767px) {
    /* header */
    .header-inner-logo-sub {
        width: 200px;
    }

    .error-message {
        font-size: 13px;
    }

    .error-button {
        font-size: 20px;
    }

    .header-inner {
        margin-left: 8px;
        margin-right: 8px;
        padding-top: 10px;
    }

    .header-inner-logo {
        width: 40px;
    }

    .header-inner-menu {
        margin-top: 5px;
        margin-left: 8px;
    }

    .header-inner-menu p{
        font-size: 12px;
        margin-top: 10px;
    }

    .header-inner-menu-button a{
        color: blue;
    }

    .header-inner-menu p a:nth-child(2) {
        margin-left: 20px;
    }

    /* main */
    .main-inner {
        width: 100%;
        font-size: 15px;
    }

    .main-inner-title {
        display: none;
    }
    
    .main-inner-word,
    .main-inner-word-change {
        margin-top: 10px;
        margin-left: 15px;
        line-height: 1.5;
    }
    
    .main-inner p:nth-child(2) {
        margin-top: 15px;
    }
}
