@charset "utf-8";

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    font-size: 16px;
    color: #000000;
    line-height: 1;
    background-color: #ffffff;
}

img {
    max-width: 100%;
}

.main-img {
    width: 150px;
    height: 150px;
}

.stamp-block-qr-back {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 90px;
    left: 100px;
    right: 100px;
    background-color: white;
    border: none;
    border-radius: 15px;
}

.stamp-block-qr-back-inner {
    width: 50px;
    height: 50px;
    margin: 5px;
    border: none;
    border-radius: 50%;
}

/* main */
main {
    position: relative;
    color: #000000;
    background-image: url(../images/note.png);
    background-size: cover;
    background-repeat: repeat-y;
    background-attachment: fixed;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 90px;
}

.main-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 40px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 15px;
    box-shadow: 3px 3px 5px 1px gray;
    background-color: #fffef6;
}

.main-inner h1 {
    display: block;
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 40px;
}

.stamp-list-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.stamp-list-cell-title {
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.stamp-line2 {
    width: 250px;
    margin-top: 4px;
    margin-bottom: 4px;
    color: gray;
}

.stamp-block-limit {
    display: block;
    margin-top: 15px;
    font-size: 16px;
}

.stamp-block-prob {
    display: block;
    margin-top: 10px;
    font-size: 16px;
}

.stamp-block-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.stamp-block-img-list {
    display: flex;
    align-items: center;
    margin-top: 20px;
    width: 200px;
    
}

.stamp-block-img-list-2 {
    display: flex;
    align-items: center;
    width: 260px;
}

.stamp-subblock {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
}

.stamp-line {
    width: 250px;
    margin-top: 30px;
    margin-bottom: 4px;
    color: gray;
}

.stamp-button-edit {
    display: block;
    width: 120px;
    margin-top: 15px;
    padding: 5px;
    background-color: lightskyblue;
    border-radius: 10px;
    border-color: black;
    box-shadow: 3px 3px 5px 1px gray;
    color: black;
    font-weight: bold;
}

.stamp-button-delete {
    display: block;
    width: 120px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px;
    background-color: #ff69b4;
    border-radius: 10px;
    border-color: black;
    box-shadow: 3px 3px 5px 1px gray;
    color: black;
    font-weight: bold;
}

/* mobile */
@media (max-width: 767px) {
    main {
        padding-top: 60px;
    }

    .main-inner {
        margin-top: 30px;
        margin-left: 7%;
        margin-right: 7%;
    }

    .main-inner h1 {
        margin-top: 30px;
        margin-bottom: 0px;
        font-size: 30px;
    }
    
    .stamp-block-limit {
        font-size: 13px;
        margin-top: 10px;
    }
}